body {
    font-family: 'Arial', sans-serif;
}

.btn-primary {
    background-color: #e67e22;
    border-color: #e67e22;
}
.navbar-nav.mx-auto {
    flex-grow: 0; /* Evita que el bloque central se estire demasiado */
}

.navbar-brand {
    flex-shrink: 0; /* Evita que el logo se comprima */
}

.bg-coffee {
    background-color: #6F4E37; /* Café oscuro */
}

.bg-coffee .navbar-brand,
.bg-coffee .nav-link {
    color: #FFFFFF; /* Texto blanco para contraste */
}

.bg-coffee .nav-link:hover {
    color: #D4A017; /* Cambio a un tono dorado al pasar el mouse */
}